.button-container {
	width: 40%;
	height: 8%;
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(50%) translateY(-30%);
}

.form_button {
	font-size: large;
	margin-top: auto;
	padding: 0;
	overflow: hidden;
	display: block;
	background-color: var(--black);
	color: var(--white);
	border: none;
	width: 40%;
	height: 7%;
	position: relative;
	border-radius: var(--border-radius);
	background-position: center;
	transition: background-color 0.8s;
}

.form_button::after {
	content: '';
	display: block;
	border-radius: 50%;
	width: 20%;
	height: 70%;
	background-color: rgba(127, 255, 212, 0);
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform-origin: center;
	transform: translateX(50%) translateY(50%) scale(0%);
	z-index: 0;
}

.form_button:focus::after {
	background-color: rgba(211, 244, 255, 0.281);
	animation: button-click 1s linear;
}
.form_button:active::after {
	animation: none;
}

.form_button:hover:not(:disabled) {
	background: #47a7f5;
	animation: button-hover 0.3s ease-out;
}
.form_button:disabled {
	background-color: rgb(164, 164, 164);
}
@keyframes button-click {
	0% {
		opacity: 1;

		transform: translateX(50%) translateY(50%) scale(0%);
	}
	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;

		transform: translateX(50%) translateY(50%) scale(2500%);
	}
}

@keyframes button-hover {
	0% {
		outline: 0.1em solid rgb(23, 53, 223);
	}
	20% {
		outline: 0.1em solid rgb(42, 28, 231);
	}
	50% {
		outline: 0.1em solid rgb(95, 71, 252);
	}

	100% {
		outline: 0.1em solid rgba(255, 255, 255, 0);
		outline-offset: 1.5em;
	}
}

.click-div {
	background-color: aqua;
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
	width: 50%;
	height: 50%;
}

.submit-animation {
	animation: submit-animation 1s steps(5, jump-none) infinite reverse;
}
@keyframes submit-animation {
	0% {
		clip-path: inset(0rem 0rem 0rem 0rem);
	}
	100% {
		clip-path: inset(0rem 2rem 0rem 0rem);
	}
}
